.authForm {
    max-width: 360px;
    margin: 0px auto;
    .helper {
        text-align: center;
        padding: 20px 0px;
        padding-top: 15px;
    }
    .link {
        color: blue;
        cursor: pointer;
    }
}