.authForm {
    max-width: 360px;
    margin: 0px auto;
    .helper {
        text-align: center;
        padding: 20px 0px;
        padding-top: 15px;
    }
    .link {
        color: blue;
        cursor: pointer;
    }
    select {
        border: none;
        background: #fff;
        border-radius: 4px;
        margin-left: 10px;
        box-shadow: 0 0 0 2px grey;
    }
}